
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>REYnolD KevIN</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/myself7.jpg' %}" >
					<hr>
					<h4>Hi I'm Reynold!</h4>
					<p>I love coding, doing research and collaborating</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>My First Job as a Developer</h4>
					<hr>
					<p>From this you’ll see that I’m someone that jumps before I can talk myself out of doing something scary.</p>
                    <p>I made a website for all my relatives that have business and even if they were never deployed for their sake the encouragement pushed me to keep going.</p>
                    <p>Because my dream is to contribute to the Technology world and I know small beginnings are the Start.</p>

					<ul class="social-links">
						<li><a href="https://github.com/thedarkarchitect"><img class="social" src="{% static 'images/github-mark.png' %}"></a></li>
                        <li>romanreynolds240@gmail.com</li>
                    </ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer</h5>
					<hr>
					<p>Full stack developer working on personal projects</p>
					<p>Designed, built and managed a customer management system as a sole developer. System supported a couple of customers with a UI for Admins and a customer dashboard.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Python, Django, HTML/CSS, JavaScript/Jquery, React, SQL, AWS and APIs such as google maps, weatherAPI, spotify api and a whole bunch more I can’t possibly mention in one sentence! ;)</p>
					<p>PS: Working on Flutter, Mongo DB, Machine Learning and AI.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Reverse Engineer & Build Ugly Prototypes First.</p>

					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>After almost two years of study Computer science, I’m ready to learn something new. So I can be flexible in the technology world so i can work on both emerging technology like robotics and AI while keeping my toes to the ground with web development and mobile development</p>
				<p>Aside from building small projects I would <strong>LOVE</strong> to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>