{% extends 'accounts/main.html'%}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <h5>Customer:    {{ customer.name.title }}</h5>
            <br>
            <form action="" method="POST">
                {% csrf_token%}

                <!-- this manages the data entered in the form so it can be sent differently since it's in a for loop without a for loop it would be sent normally -->
                {{ formset.management_form }}
                {% for form in formset %}
                    {{form}}
                    <hr>
                {% endfor %}
                <input type="submit" name="Submit">
            </form>
            
        </div>
    </div>

</div>


{% endblock%}