{% extends 'core/base.html' %}

{% block title %} {{post.title}} | {% endblock %}

{% block content %}

<section class="hero ">
    <div class="hero-body">
        <div class="container">
            <section class="section">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        {% if post.image %}
                                <figure>
                                    <img src="{{ post.image.url }}">
                                </figure>
                        {% endif %}
                        <div class="content is-medium">
                            <h1 class="title">{{ post.title }}</h1>
                            <p>{{ post.body }}</p>
                            
                            <p><small>Category: <a href="{% url 'category_detail' post.category.slug %}">{{ post.category }}</a></small></p>

                            <hr>

                            <form method="POST" action="" class="mb-6">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div claas="field">
                                    <div class="control">
                                        <button class="button is-success">Comment</button>
                                    </div>
                                </div>
                            </form>

                            <!-- this shows the comments -->
                            {% for comment in posts %}
                                <article class="media  box">
                                    <div class="media-content">
                                        <strong>{{ comment.name }} </strong><small>{{ comment.created_at | timesince }} ago</small>
                                        <br>
                                        {{ comment.body }}
                                    </div>
                                </article>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

{% endblock %}