{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><i class="fa-sharp fa-solid fa-graduation-cap fa-lg"></i> Student Management System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-solid fa-list-ol"></i> Students</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-solid fa-plus"></i> Add Student</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>

    <div class="container-fluid">
        <h3 class="m-4">All Students</h3>
        <div class="row">
            <div class="col-12" >
                {% if students %}
                <div class="card text-light bg-dark ms-4 me-4 mb4" >
                    <div class="card-header">Student Records</div>
                    <div class="card-body">
                        <p class="card-text">
                            <div class="table-responsive">
                            <table class="table table-dark table-hover">
                                    <thead>
                                        <tr>
                                        <th scope="col">Student Number</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Field of Study</th>
                                        <th scope="col">GPA</th>
                                        <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for student in students %}
                                            <tr>
                                                <td>{{ student.student_number }}</td>
                                                <td>{{ student.first_name }}</td>
                                                <td>{{ student.last_name }}</td>
                                                <td>{{ student.email }}</td>
                                                <td>{{ student.field_of_study }}</td>
                                                <td>{{ student.gpa }}</td>
                                                <td>
                                                    <button type="button" class="btn btn-outline-success me-1" href="{% url 'view_student' student.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{student.id}}"><i class="fa-solid fa-circle-info"></i></button>
                                                    
                                                    <!-- modal - view_student -->
                                                        <div class="modal" tabindex="-1" id="myModal{{student.id}}" aria-labelledby="myModallabel1" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                <h5 class="modal-title">Student: {{ student.first_name }} {{ student.last_name }}</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <ul class="list-unstyled">
                                                                        <li>
                                                                            Student Number: <strong> {{ student.student_number }}</strong>
                                                                        </li>
                                                                        <li>
                                                                            First Name: <strong> {{ student.first_name }}</strong>
                                                                        </li>
                                                                        <li>
                                                                            Last Name: <strong> {{ student.last_name }}</strong>
                                                                        </li>
                                                                        <li>
                                                                            Email: <strong> {{ student.email }}</strong>
                                                                        </li>
                                                                        <li>
                                                                            Field of Study: <strong> {{ student.field_of_study }}</strong>
                                                                        </li>
                                                                        <li>
                                                                            GPA: <strong> {{ student.gpa }}</strong>
                                                                        </li>

                                                                    </ul>
                                                                </div>
                                                                <div class="modal-footer">
                                                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                        </div>
                        </p>
                    </div>
                    
                </div>
                {% else %}
                    <h5 class="alert alert-primary ms-4 me-4">No student records</h5>
                {% endif %}
                
            </div>
        </div>

    </div>

    <footer class="mt-auto mb-4">
        <div class="text-center">
            <span>
                Copyright &copy; <script>document.write(new Date().getFullYear())</script> Mengo Senior School
            </span>

        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
